.medicationList {
	background-color: rgb(207, 207, 207);
	border: 1px solid black;
	padding:10px;
	width: 70%;
	margin: 6px auto 6px auto;
	text-align: center;
}

.sectionHeading {
	text-align: center;
	font-size: 36px;
	margin: 30px auto 5px auto;
}

.oroLogo {
	width: 40%;
	margin: auto;
}

.authenticationPageHeading {
	width: 100%;
	text-align: center;
	font-size: 1.7rem;
}

.formBody {
	width: 50%;
	margin: auto;
}

.label-fixed.sc-ion-label-md-h {
	min-width: 110px;
}

.formGroup {
	width: 80%;
	margin: auto auto 50px auto;
	border: 1px solid black;
	padding: 8px;
}


.medicationInputs {
	display: flex;
	width: 90%;
	margin: auto;
	flex-direction: column;
}

@media only screen and (max-width: 600px) {
	.formBody {
		width: 100%;
		margin: auto;
	}
	.sectionHeading {
		font-size: 25px;
	}
  }