.medicationList {
	background-color: rgb(207, 207, 207);
	border: 1px solid black;
	padding:10px;
	width: 70%;
	margin: 6px auto 6px auto;
	text-align: center;
}

.sectionHeading {
	text-align: center;
	font-size: 36px;
	margin: 30px auto 5px auto;
}

.oroLogo {
	width: 40%;
	margin: auto;
}

.authenticationPageHeading {
	width: 100%;
	text-align: center;
	font-size: 1.7rem;
}



.label-fixed.sc-ion-label-md-h {
	min-width: 110px;
}

.formGroup {
	width: 80%;
	margin: auto auto 50px auto;
}


.medicationInputs {
	display: flex;
	width: 90%;
	margin: auto;
	flex-direction: column;
}

@media only screen and (max-width: 600px) {
	.webBody {
		width: 100%;
		margin: auto;
	}
	.sectionHeading {
		font-size: 25px;
	}
  }

  .alignRegimeReview {
	display: flex;
	flex-direction: row;
  }

  /*pre-wrap solution to displaying information and instructions while preserving newline character was found at this link
  by author VocoJax: https://stackoverflow.com/questions/39106389/pre-tag-not-shrinking-not-showing-horizontal-scroll-bar*/
  p {
	white-space: pre-wrap;
  }

  .regimeConfirm {
	text-align: center;
	font-size: 24px;
  }


.regimeReturn {
	width: 40%;
	margin: auto;
}

.visualBoxRepresenter {
	width: 40%;
	margin: 1% auto;
}

.instructionGroup {
	display: flex;
	flex-direction: column;
}

.instructionSeparator {
	margin-top: 1%;
}