.patientSelect {
	width: 50%;
	margin: auto;
	background-color: var(--ion-background-color-step-450);
	border: 1px solid black;
	padding: 1%;
	border-radius: 4px;
}

.doseViewGrid {
	display: grid;
	grid-template-columns: 50% 50%;
	margin-top: 1%;
}