.welcome-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f4f4f9;
    text-align: center;
    padding: 20px;
  }
  
  .logo {
    width: 150px;
    margin: 0 auto 40px auto;
    display: block;
  }
  
  .custom-button {
    width: 80%;
    border-radius: 25px;
    margin: 10px 0;
    padding: 12px;
    --background: #01BD81;
    --background-activated: #01BD81;
    --background-focused: #01BD81;
    --border-radius: 25px;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .custom-button:hover {
    filter: brightness(1.1);
    transition: 0.3s;
  }
  