.headingText {
	font-size: 36px;
	margin-top: 10%;
	width: 100%;
	text-align: center;
}

.patientContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.patientContainerName {
	width: 20%;
}
.deletePatientButton {
	width: 10%;
}

.imageContainer {
	margin: auto;
	text-align: center;
}
.qrImg {
	width: 50%;
}
