.headingText {
	font-size: 36px;
	margin-top: 10%;
	width: 100%;
	text-align: center;
}

.patientContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: var(--ion-background-color);
	justify-content: flex-start;
	height: fit-content;
}

.patientContainerName {
	width: 74%;
	text-align: center;	
	font-size: 24px;
}
.deletePatientButton {
	width: 10%;
	position: relative;
}

.imageContainer {
	margin: auto;
	text-align: center;
}
.qrImg {
	width: 50%;
}

.patientImage {
	width: 15%;
	aspect-ratio: 1/1;
}

.patientDeleteNameEntry {
	background-color: rgb(79, 78, 78);
	border: 1px solid black;
}