.webBody {
	width: 60%;
	margin: auto;
	background-color: #313033;
	border-radius: 40px;
	padding: 5%;
	min-height: fit-content;
	height: 100%;
}

@media screen and (max-width: 680px) {
	.webBody {
		width: 90%;
	}
  }
