.notification-icon, .hamburger-icon {
	font-size: 24px;
	cursor: pointer;
	margin: 1%;
}

.pharmacistMenuGreeting {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.pharmacistMenuGreeting img {
	height: 100%;
	margin-right: 3%;
}

.notification-badge {
	font-size: 12px;
  }

.centerTitle {
	text-align: center;
	font-weight: bold;
}

.tabBarPrimary, .tabBarSecondary {
	border:1px solid black
}

.tabBarPrimary {
	display: flex;
	justify-content: space-between;
}

.tabBarSecondary {
	background-color: #335f51;
}

.hiddenOutlet{
	display: none;
}

.tabs-inner {
	display: none;
}

.hamburger-menu {
<<<<<<< HEAD
	background-color: #7da371;
	height: 100%;
	width: 100%;
	padding:3%
}

.rowOfSelects{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.rowOfSelects ion-item{
	width: 48%;
}

.notificationMenu {
	--max-width:80%;
	--min-width:500px;
}

@media screen and (max-width: 680px) {
	.notificationMenu {
		--max-width:80%;
		--min-width:300px;
	}
  }
=======
	background-color: #A3C898;
	height: 100%;
	width: 100%;
	padding:3%
}
>>>>>>> 78d54d1 (Add hamburger menu items and linked subpages)
