.notification-icon, .hamburger-icon {
	font-size: 24px;
	cursor: pointer;
	margin: 1%;
}

.notification-badge {
	font-size: 12px;
  }

.centerTitle {
	text-align: center;
	font-weight: bold;
}

.tabBarPrimary, .tabBarSecondary {
	border:1px solid black
}

.tabBarPrimary {
	display: flex;
	justify-content: space-between;
}

.hiddenOutlet{
	display: none;
}

.tabs-inner {
	display: none;
}