.regimeItemContainer {
	background-color: rgb(219, 219, 219);
	margin: auto auto 10px auto;
	border: 1px solid black;
	border-radius: 6px;
	width: 30%;
	display: flex;
}

.regimeItemContainerText {
	width: 80%;
}

ion-list {
	
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.regimeInfoField {
	font-weight: bold;
}

.regimeItemContainerButtons {
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 20%;
	border-left: 1px solid black;
}
.button {
	width: 100%;
}

.deleteIcon {
	color: black;
	font-size: 200%;
}

@media only screen and (max-width: 600px) {
	.regimeItemContainer {
		width: 100%;
	}
	ul {
		padding: 0px;
	}
  }