.regimeItemContainer {
	background-color: rgba(0, 0, 0, 0);
	margin: 0% auto 10px auto;
	border-radius: 6px;
	width: 80%;
	height: fit-content;
	display: flex;
}

.listElement {
	padding: 0%;
}

/* The white-space element was inspired by https://www.geeksforgeeks.org/how-to-wrap-a-text-in-a-pre-tag-using-css/
   the wrap value was something I stumbled across randomly, highlighted by syntax highlighting, which luckily did
   what I wanted it to */
pre {
	white-space: wrap;
}

.regimeItemContainerText {
	width: 80%;
}


.button {
	width: 100%;
}

ion-list {
	border-radius: 6px;
}

.regimeInfoField {
	font-weight: bold;
}

.regimeItemContainerButtons {
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 20%;
	min-width: fit-content;
}

.regimeViewIcon {
	width: 100%;
}


@media only screen and (max-width: 600px) {
	.regimeItemContainer {
		width: 100%;
	}
	ul {
		padding: 0px;
	}
  }